.container{
    min-height: 80%;
    width: 100%;
    background: url('./images/bg.png')  no-repeat ;
    background-size: cover;
}

.header{
    height: 64px;
    background:transparent;
}

.logo{
    background: url('./images/logo.png') no-repeat;
    height: 23px;
    width:60px;
    float: left;
}

.logo + span{
    padding-left: 10px;
}

.header-content{
    padding: 2% 0 0 12%;
    line-height: 1.4em;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
    flex-flow: row wrap
}

.display{
    display:flex;
    flex-flow: column wrap;
    max-width: 100%;
    max-height: 50%;
    overflow: hidden;
    padding-left: 12%
}

.display > div{
    margin:20px 0;
}

.display div:first-child{
    margin:0;
    background: url('./images/logo.png') no-repeat;
    width: 126px;
	height: 48px;
    opacity: 0.32;
    background-size: contain;
}

.display div:last-child{
    font-size: 18px;
    width: 468px;
    height: 40px;
    line-height: 20px;
    font-family: FZLTCXHJW--GB1-0;
    margin-top: 0;
}

.display div:nth-child(2){
    line-height: 30px;
    width: 338px;
	height: 64px;
    font-size: 26px;
}



html,body {
    height: 100%;
    width: 100%;
    font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 17px;
	letter-spacing: 0px;
	color: #ffffff;
}

.login{
    width: 400px;
	height: 426px;
	background-color: #ffffff;
    border-radius: 4px;
    max-width: 90%;
    margin-right: 15%;
}

.login > p{
    padding: 40px 0;
    text-align: center;
	height: 20px;
	font-size: 20px;
	line-height: 15px;
	color: #000000;
}

.login > div{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.login > div > div{
    width: 70%;
    max-width: 70%;
    height: 40px;
    margin: 18px 0;
    border: solid 1px #1693f8;
}
.login > div div:last-child{
    border: none;
}


input{
    width: 100%;
    height: 100%;
	border-radius: 2px;
	background-color: #ffffff;
    font-size: 16px;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    padding-left: 20px
}

button{
    width: 100%;
	height: 45px;
	background-color: #2372f4;
    border-radius: 2px;
    border: 0;
}

.footer{
    min-height:20%;
    background: #000;
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

*{
    margin:0;
    padding: 0;
}
